<%= simple_form_for(@curriculum) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lastname %>
    <%= f.input :email %>
    <%= f.input :phone %>
    <%= f.input :unit, as: 'select', collection: Curriculum.units.keys.to_a %>
    <%= f.input :field, as: 'select', collection: Curriculum.fields.keys.to_a %>
    <%= f.input :file, as: 'file' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
