<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @curriculum.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @curriculum.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @curriculum.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @curriculum.phone %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @curriculum.unit %>
</p>

<p>
  <strong>Field:</strong>
  <%= @curriculum.field %>
</p>

<p>
  <strong>File:</strong>
  <%= @curriculum.file %>
</p>

<%= link_to 'Edit', edit_curriculum_path(@curriculum) %> |
<%= link_to 'Back', curriculums_path %>
