<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= simple_form_for(@provider) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :cnpj %>
        <%= f.input :address %>
        <%= f.input :telphone %>
        <%= f.input :fax %>
        <%= f.input :cep %>
        <%= f.association :state %>
        <%= f.association :city %>
        <%= f.input :state_number %>
        <%= f.input :email %>
        <%= f.input :contact_name %>
        <%= f.input :contact_telphone %>
        <%= f.input :contact_email %>
        <%= f.input :observation %>
        <%= f.association :work %>
        <%= f.association :affiliate %>
        <%= f.association :provider_type %>
      </div>

    
      <div class="form-actions">
        <%= f.submit 'Salvar', class: 'btn btn-primary pull-right' %>

        <%= link_to 'Cancelar', providers_path, class: 'btn btn-danger pull-left' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

