<div class="jumbotron"></div>
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <!-- START PANEL -->
    <div class="panel ">
      <div class="panel-heading">
        <div class="panel-title">Listing Providers</div>
        <div class="pull-right m-b-10">
          <%= link_to 'New Provider', new_provider_path, class:'btn btn-primary' %>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Telphone</th>
                <th>Email</th>
                <th>Contact telphone</th>
                <th>Contact email</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @providers.each_with_index do |provider,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= provider.name %></td>

                <td><%= provider.telphone %></td>
                <td><%= provider.email %></td>
                <td><%= provider.contact_telphone %></td>
                <td><%= provider.contact_email %></td>
                <td colspan="2">
                 <%= link_to '<i class="fa fa-eye"></i>'.html_safe, provider, class:'btn btn2 btn-complete' %>
                 <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_provider_path(provider), class:'btn btn2 btn-warning' %>
                 <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, provider_path(provider), class:'btn btn2 btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
               <% end %>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
 </div>

