<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider.name %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @provider.cnpj %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Telphone:</strong>
  <%= @provider.telphone %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @provider.fax %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @provider.cep %>
</p>

<p>
  <strong>State:</strong>
  <%= @provider.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.city %>
</p>

<p>
  <strong>State number:</strong>
  <%= @provider.state_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @provider.contact_name %>
</p>

<p>
  <strong>Contact telphone:</strong>
  <%= @provider.contact_telphone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @provider.contact_email %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @provider.observation %>
</p>

<p>
  <strong>Work:</strong>
  <%= @provider.work %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @provider.affiliate %>
</p>

<p>
  <strong>Provider type:</strong>
  <%= @provider.provider_type %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
