<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @benefit.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @benefit.description %>
</p>

<p>
  <strong>Default value:</strong>
  <%= @benefit.default_value %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @benefit.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @benefit.status %>
</p>

<%= link_to 'Edit', edit_benefit_path(@benefit) %> |
<%= link_to 'Back', benefits_path %>
