<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @provider_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @provider_type.status %>
</p>

<%= link_to 'Edit', edit_provider_type_path(@provider_type) %> |
<%= link_to 'Back', provider_types_path %>
