<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= simple_form_for(@vehicle_consumption) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.association :vehicle %>
        <%= f.input :km_start %>
        <%= f.input :km_end %>
        <%= f.input :gas_liter %>
        <%= f.input :value_liter %>
        <%= f.input :date %>
        <%= f.input :number_notes %>
        <%= f.input :observation %>
        <%= f.association :desk_supplie %>
        <%= 'f.association :driver'  %>
      </div>

      <div class="form-actions">
        <%= f.submit 'Salvar', class: 'btn btn-primary pull-right' %>

        <%= link_to 'Cancelar', vehicle_consumptions_path, class: 'btn btn-danger pull-left' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
