<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @desk_supply.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @desk_supply.address %>
</p>

<p>
  <strong>Telphone:</strong>
  <%= @desk_supply.telphone %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @desk_supply.geolocation %>
</p>

<p>
  <strong>City:</strong>
  <%= @desk_supply.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @desk_supply.state %>
</p>

<%= link_to 'Edit', edit_desk_supply_path(@desk_supply) %> |
<%= link_to 'Back', desk_supplies_path %>
