<%= simple_form_for @user do |f| %>
<div class='row'>
	<div class='col-md-8'>
		<%= f.input :name %>
	</div>
	<div class='col-md-2'>
		<%= f.input :code %>
	</div>
	<div class='col-md-2'>
		<%= f.input :cpf %>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<%= f.association :sector, prompt: 'selecione...' %>
	</div>
	<div class='col-md-4'>
		<%= f.association :job, prompt: 'selecione...' %>
	</div>
	<div class='col-md-4'>
		<%= f.input :job_function %>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<%= f.input :status %>
	</div>
</div>
<hr />
<div class='row'>
	<div class='col-md-4'>
		<%= f.association :state, prompt: 'selecione...'  %>
	</div>
	<div class='col-md-4'>
		<%= f.association :city, prompt: 'selecione...'  %>
	</div>
</div>
<div class='row'>
	<div class='col-md-12'>
		<%= f.input :address %>
	</div>
</div>
<div class='row'>
	<div class='col-md-4'>
		<%= f.association :foothold, prompt: 'selecione...' %>
	</div>
	<div class='col-md-4'>
		<%= f.association :affiliate, prompt: 'selecione...' %>
	</div>
	<div class='col-md-4'>
		<%= f.association :work, prompt: 'selecione...' %>
	</div>
</div>
<hr />

<%= f.button :submit, class: 'btn btn-success' %>
<%= link_to "Voltar", users_path, class: 'btn btn-default' %>
<% end %>