<div class="jumbotron"></div>
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <!-- START PANEL -->
    <div class="panel ">
      <div class="panel-heading">
        <div class="panel-title">Listing Vehicles Service</div>
        <div class="pull-right m-b-10">
          <%= link_to 'New Vehicle Service', new_vehicle_service_path, class:'btn btn-primary' %>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Observation</th>
                <th>Status</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @vehicle_services.each_with_index do |vehicle_service,i| %>
              <tr>
                <td><%= i+1 %></td>
                <td><%= vehicle_service.name %></td>
                <td><%= vehicle_service.description %></td>
                <td><%= vehicle_service.observation %></td>
                <td><%= vehicle_service.status %></td>
                <td colspan="2">
                 <%= link_to '<i class="fa fa-eye"></i>'.html_safe, vehicle_service, class:'btn btn2 btn-complete' %>
                 <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_vehicle_service_path(vehicle_service), class:'btn btn2 btn-warning' %>
                 <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, vehicle_service_path(vehicle_service), class:'btn btn2 btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
               </td>
             </tr>
             <% end %>
           </tbody>
         </table>
       </div>
     </div>
   </div>
 </div>
</div>

