<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_service.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_service.description %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @vehicle_service.observation %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle_service.status %>
</p>

<%= link_to 'Edit', edit_vehicle_service_path(@vehicle_service) %> |
<%= link_to 'Back', vehicle_services_path %>
