<aside>
        <div id="sidebar" class="nav-collapse">
          <div class="leftside-navigation" tabindex="5000" style="overflow: hidden; outline: none;">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <%= link_to "<i class='fa fa-dashboard'></i>
                                <span>Dashboard</span>".html_safe,
                                application_root_path %>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent">
                        <i class="fa fa-laptop"></i>
                        <span>Obra</span>
                    <span class="dcjq-icon"></span></a>
                    <ul class="sub" style="display: none;">
                        <li><a href="boxed_page.html">Boxed Page</a></li>
                        <li><a href="horizontal_menu.html">Horizontal Menu</a></li>
                        <li><a href="language_switch.html">Language Switch Bar</a></li>
                    </ul>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent">
                        <i class="fa fa-book"></i>
                        <span>Interno</span>
                    <span class="dcjq-icon"></span></a>
                    <ul class="sub" style="display: none;">
                        <li><%= link_to "funcionários", users_path %></li>
                        <li><%= link_to "setores" %></li>
                        <li><%= link_to "cargos" %></li>
                        <li><%= link_to "privilégios" %></li>
                    </ul>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent">
                        <i class="fa fa-book"></i>
                        <span>Geral</span>
                    <span class="dcjq-icon"></span></a>
                    <ul class="sub" style="display: none;">
                        <li><%= link_to "afiliados" %></li>
                        <li><%= link_to "pontos de apoio" %></li>
                        <li><%= link_to "fornecedores" %></li>
                        <li><%= link_to "escritórios" %></li>
                    </ul>
                </li>
                <li class="sub-menu dcjq-parent-li">
                    <a href="javascript:;" class="dcjq-parent">
                        <i class="fa fa-th"></i>
                        <span>Veículos</span>
                    <span class="dcjq-icon"></span></a>
                    <ul class="sub" style="display: none;">
                        <li><%= link_to "cadastrar" %></li>
                        <li><%= link_to "lista" %></li>
                        <li><%= link_to "cadastrar" %></li>
                        <li><%= link_to "cadastrar" %></li>
                    </ul>
                </li>
               
            </ul></div>        

    </aside>