<p id="notice"><%= notice %></p>

<h1>Listing Work Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_types.each do |work_type| %>
      <tr>
        <td><%= work_type.name %></td>
        <td><%= work_type.status %></td>
        <td><%= link_to 'Show', work_type %></td>
        <td><%= link_to 'Edit', edit_work_type_path(work_type) %></td>
        <td><%= link_to 'Destroy', work_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work type', new_work_type_path %>
