<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @work_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @work_type.status %>
</p>

<%= link_to 'Edit', edit_work_type_path(@work_type) %> |
<%= link_to 'Back', work_types_path %>
