<div class="jumbotron"></div>
<div class="container-fluid container-fixed-lg">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <!-- START PANEL -->
    <div class="panel ">
      <div class="panel-heading">
      <div class="panel-title">Listing Payment</div>
        <div class="pull-right m-b-10">
          <%= link_to 'New Payment', new_payment_path, class:'btn btn-primary' %>
        </div>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover table-condensed">
            <thead>
              <tr>
                <th>#</th>
                <th>Value</th>
                <th>Description</th>
                <th>Status</th>
                <th>Deadline</th>
                <th>Provider</th>
                <th>Payment type</th>
                <th colspan="2">Actions</th>
              </tr>
            </thead>

            <tbody>
              <% @payments.each_with_index do |payment,i| %>
              <tr>
                <td><%= i+1 %></td>              
                <td><%= payment.value %></td>
                <td><%= payment.description %></td>
                <td><%= payment.status %></td>
                <td><%= payment.deadline %></td>
                <td><%= payment.provider %></td>
                <td><%= payment.payment_type %></td>
                <td colspan="2">
                 <%= link_to '<i class="fa fa-eye"></i>'.html_safe, payment, class:'btn btn2 btn-complete' %>
                 <%= link_to '<i class="fa fa-pencil-square-o"></i>'.html_safe, edit_payment_path(payment), class:'btn btn2 btn-warning' %>
                 <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe, payment_path(payment), class:'btn btn2 btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
               </tr>
               <% end %>
             </tbody>
           </table>
         </div>
       </div>
     </div>
   </div>
 </div>