<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @payment.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @payment.deadline %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @payment.provider %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @payment.payment_type %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
