<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @payment_type.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @payment_type.account %>
</p>

<p>
  <strong>Bank:</strong>
  <%= @payment_type.bank %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment_type.status %>
</p>

<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
