<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= simple_form_for(@affiliate) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :cep %>
        <%= f.input :responsible %>
        <%= f.input :geolocation %>
        <%= f.association :city %>
        <%= f.association :state %>
      </div>


      <div class="form-actions">
        <%= f.submit 'Salvar', class: 'btn btn-primary pull-right' %>

        <%= link_to 'Cancelar', affiliates_path, class: 'btn btn-danger pull-left' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
