<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @foothold.name %>
</p>

<p>
  <strong>Local:</strong>
  <%= @foothold.local %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @foothold.responsible %>
</p>

<p>
  <strong>Geolocation:</strong>
  <%= @foothold.geolocation %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @foothold.observation %>
</p>

<p>
  <strong>Affiliate:</strong>
  <%= @foothold.affiliate %>
</p>

<p>
  <strong>Work:</strong>
  <%= @foothold.work %>
</p>

<%= link_to 'Edit', edit_foothold_path(@foothold) %> |
<%= link_to 'Back', footholds_path %>
