<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle.description %>
</p>

<p>
  <strong>Patrimony:</strong>
  <%= @vehicle.patrimony %>
</p>

<p>
  <strong>Status vehicle:</strong>
  <%= @vehicle.status_vehicle %>
</p>

<p>
  <strong>Vehicle plate:</strong>
  <%= @vehicle.vehicle_plate %>
</p>

<p>
  <strong>Vehicle type:</strong>
  <%= @vehicle.vehicle_type %>
</p>

<p>
  <strong>Vehicle service:</strong>
  <%= @vehicle.vehicle_service %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @vehicle.provider %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
