<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @vehicle_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vehicle_type.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehicle_type.status %>
</p>

<%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type) %> |
<%= link_to 'Back', vehicle_types_path %>
